name: Deploy AST Builder

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/setup-node@v4
      with:
        node-version: '24.12'
    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build
      
    
